@font-face {
	font-family:'Medium';
	src: url('LMMain-Medium.otf');
}

@font-face {
	font-family:'Bold';
	src: url('LMMain-Bold.otf');
}

* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html, body {
    height:100%;
    margin:0 auto;
}

.banner {
    width:1080px;
    height: 1350px;
    position:relative;
    overflow:hidden;
    padding: 108px;
    background-image: url(main_kitchen.jpg); 
}

.skip {
    position: absolute;
    opacity: 0;
}

/* Picture */

.kitchens {
    position:absolute;
    top: 0;
    left: 0;
    width:1080px;
    height: 1350px;
}

.kitchens IMG {
    position: relative;
}




/* menu */

.menu-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 578px;
}

.ch-text {
    font-family:'Medium';
    font-size: 37px;
    line-height: 37px;
    color: black;
    margin-bottom: 60px;
}

.menu-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-ch {
    cursor: pointer;
    width: 260px;
    height: 260px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color:white;
}
 
.button-ch:active {
    transform: scale(90%);
    background-color:#FFE55A;
}
.press {
    animation: press ease-in-out forwards;
    animation-duration: 1s;
}

.logo {
    position:absolute;
    bottom: 0;
    right: 108px;
    width: 324px;
    height: 155px;
}

.logo IMG {
    width: 100%;
}

@keyframes press {
    0%     {transform: scale(90%);}
    35%    {transform: scale(110%);}
    70%    {transform: scale(95%);}
    100%    {transform: scale(100%);}
}





